$c-000000: #000000;
$c-FFFFFF: #ffffff;

$c-082535: #082535;
$c-D4E1E7: #d4e1e7;
$c-98BBD7: #98bbd7;
$c-99CC65: #99cc65;
$c-E5F2D8: #e5f2d8;
$c-F5142B: #f5142b;
$c-F4F7F9: #f4f7f9;

$c-main: $c-FFFFFF;
$c-accent: $c-99CC65;
$c-secondary: $c-082535;

$skeleton-color: #e2e8f0;
