@use './functions' as *;
@use './colors' as *;
@use './variables' as *;

// layout
@mixin content-container($max-width: rem(1920), $padding: 0 $px) {
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding;
}

@mixin content-block($margin: rem(128)) {
    margin: $margin 0;
}

// components
@mixin button-primary(
    $width: fit-content,
    $gap: lineScale(40, 20, 480, 1440),
    $font-size: lineScale(24, 18, 480, 1440),
    $color: currentColor,
    $border-color: currentColor,
    $padding: rem(18) rem(24),
    $border-radius: rem(64),
    $hover-color: $c-FFFFFF,
    $anim-color: $c-FFFFFF
) {
    cursor: pointer;
    position: relative;
    width: $width;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: $gap;

    font-size: $font-size;
    color: $color;
    white-space: nowrap;

    border: rem(2) solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
    transition:
        color $td $tf,
        border-color $td $tf;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        border-radius: inherit;
        background-color: $anim-color;
        scale: 1.5;
        opacity: 0;
        pointer-events: none;
        transition: all $td $tf;
    }
    > * {
        position: relative;
        z-index: 2;
    }
    > span:has(svg) {
        overflow: hidden;
        rotate: -45deg;
    }
    &:active {
        scale: 0.97;
    }
    @media (pointer: fine) {
        &:hover {
            color: $hover-color;
            border-color: transparent;
            &::before {
                scale: 1;
                opacity: 1;
            }
            > span:has(svg) {
                svg {
                    animation: arrow-translate calc($td * 1.5) $tf;
                }
            }
        }
    }
    @include arrow-translate;
}

@mixin skeleton(
    $color: $skeleton-color,
    $anim-color: linear-gradient(90deg, transparent, rgba(#ffffff, 0.4), transparent)
) {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $color;
    border-radius: rem(8);
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        background: $anim-color;
        animation: skeleton-anim 1.2s ease infinite;
        pointer-events: none;
    }
    @keyframes skeleton-anim {
        from {
            translate: -100%;
        }
        to {
            translate: 100%;
        }
    }
}

@mixin sticker($bg-color: $c-accent, $color: $c-FFFFFF) {
    width: lineScale(80, 60, 480, 1440);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: lineScale(20, 14, 480, 1440);
    font-family: 'Inter', sans-serif;
    color: $color;
    rotate: -15deg;
    @supports (mask-image: url()) {
        > * {
            position: relative;
            z-index: 1;
        }
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            inset: 0;
            mask-image: url('/img/masks/pinion.svg');
            mask-size: 100% 100%;
            background-color: $bg-color;
            animation: sticker-spin 15s linear infinite;
        }
        @keyframes sticker-spin {
            from {
                rotate: 0;
            }
            to {
                rotate: -360deg;
            }
        }
    }
    @supports not (mask-image: url()) {
        background-color: $bg-color;
        border-radius: 50%;
    }
}

@mixin slider-buttons() {
    cursor: pointer;
    display: flex;
    align-items: center;
    &::before {
        content: '';
        display: block;
        width: rem(32);
        height: rem(2);
        transform: scaleY(0.89);
        translate: 0 -0.5px;
        background-color: currentColor;
        transition: width $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            &::before {
                width: rem(48);
            }
        }
    }
    &:active {
        &::before {
            width: rem(40);
        }
    }
    &[disabled] {
        opacity: 0.5;
        &::before {
            width: 0;
        }
    }
    &--prev {
        transform: scaleX(-1);
    }
}

@mixin close-button($position: relative) {
    cursor: pointer;
    width: fit-content;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include frame-scale($position: $position, $padding: rem(8), $border-radius: 50%);
    @media (pointer: fine) {
        transition: rotate $td $tf;
        &:hover {
            rotate: -90deg;
        }
    }
}

@mixin checkbox($size: rem(24), $accent-color: $c-98BBD7, $contrast-color: $c-FFFFFF) {
    cursor: pointer;
    position: relative;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    aspect-ratio: 1/1;
    border: rem(1) solid $accent-color;
    > input[type='checkbox'] {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        inset: 0;
        width: $size;
        height: $size;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: rem(14);
        height: rem(2);
        opacity: 0;
        transition: all calc($td / 2) $tf;
        pointer-events: none;
    }
    @media (pointer: fine) {
        &:hover {
            &::before,
            &::after {
                background-color: $accent-color;
                opacity: 1;
            }
            &::before {
                rotate: 90deg;
            }
        }
    }
    &:has(input:checked) {
        background-color: $accent-color;
        &::before,
        &::after {
            background-color: $contrast-color;
            opacity: 1;
        }
        &::before {
            left: 63%;
            width: rem(12);
            rotate: 135deg;
        }
        &::after {
            left: 30%;
            top: 60%;
            width: rem(10);
            rotate: -135deg;
        }
    }
}

@mixin toggler($width: rem(48), $init-color: $c-98BBD7, $active-color: $c-accent) {
    position: relative;
    box-sizing: border-box;

    width: $width;
    // height: calc($width / 2);
    aspect-ratio: 2/1;

    background-color: $c-FFFFFF;
    border: rem(2) solid $init-color;
    border-radius: calc($width / 3);
    transition:
        background-color $td $tf,
        border-color $td $tf;
    overflow: hidden;
    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1;
        background-color: $init-color;
        border-radius: 50%;
        border: calc($width / 16) solid $c-FFFFFF;
        transition: all $td $tf;
        pointer-events: none;
    }
    input {
        cursor: pointer;
        position: absolute;
        inset: 0;
        appearance: none;
        touch-action: manipulation;
    }
    &:has(input:checked) {
        background-color: $active-color;
        border-color: $active-color;
        &::before {
            translate: calc(100% + ($width / 16)) 0;
            border-color: $active-color;
            background-color: $c-FFFFFF;
        }
    }
}

// effects
@mixin gradient-text-hover($main-color: $c-000000, $accent-color: $c-accent) {
    @supports (background-clip: text) {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, $accent-color 50%, $main-color 50%);
        background-size: 250% 200%;
        background-position: -80% -100%;
        transition: background-position $td $tf;
        @media (pointer: fine) {
            &:hover {
                background-position: -160% -200%;
            }
        }
    }
    @supports not (background-clip: text) {
        transition: color $td $tf;
        @media (pointer: fine) {
            &:hover {
                color: $c-accent;
            }
        }
    }
}
@mixin hover-underline($color: currentColor) {
    position: relative;
    width: fit-content;
    line-height: 150%;
    transition: all $td $tf;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: rem(2);
        width: 0;
        background-color: $color;
        transition: $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $color;
            &::after {
                width: 100%;
            }
        }
    }
}
@mixin hover-blick-line($init-color: $c-secondary, $anim-color: $c-accent) {
    position: relative;
    line-height: 1.5;
    color: $init-color;
    transition: color $td $tf;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: rem(1);
        background-color: $init-color;
        transition: all $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $anim-color;
            &::before {
                width: 100%;
                translate: 100%;
                background-color: $anim-color;
            }
        }
    }
}
@mixin hover-overlap($bg-color: $c-accent) {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $bg-color;
        border-radius: 0 rem(32) rem(32) 0;
        transition: all $td $tf-spring;
    }
    > * {
        position: relative;
        z-index: 2;
    }
    @media (pointer: fine) {
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}
@mixin frame-scale(
    $position: relative,
    $padding: rem(8) rem(16),
    $border-radius: rem(16),
    $finally-border-radius: inherit,
    $anim-color: $c-accent,
    $finally-color: $c-FFFFFF
) {
    position: $position;
    border-radius: $border-radius;
    padding: $padding;
    transition:
        color $td $tf,
        border-radius $td $tf;
    > * {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        background-color: $anim-color;
        border-radius: inherit;
        scale: 1.5;
        opacity: 0;
        pointer-events: none;
        transition: all $td $tf;
    }
    &:active {
        scale: 0.95;
    }
    @media (pointer: fine) {
        &:hover {
            color: $finally-color;
            &::before {
                opacity: 1;
                scale: 1;
                border-radius: $finally-border-radius;
            }
        }
    }
}

// tech
@mixin hide-scrollbar() {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// animations

@mixin arrow-translate {
    @keyframes arrow-translate {
        0% {
            translate: 0 0;
            opacity: 1;
        }
        45% {
            translate: 100% 0;
            opacity: 0;
        }
        55% {
            translate: -100% 0;
            opacity: 0;
        }
        100% {
            translate: 0 0;
            opacity: 1;
        }
    }
}
