$c-000000: #000000;
$c-FFFFFF: #ffffff;

$c-082535: #082535;
$c-D4E1E7: #D4E1E7;
$c-98BBD7: #98BBD7;
$c-99CC65: #99CC65;
$c-E5F2D8: #E5F2D8;
$c-E5F2D8: #E5F2D8;
$c-F5142B: #F5142B;

$c-main: $c-FFFFFF;
$c-accent: $c-99CC65;
$c-secondary: $c-082535;