@use './functions' as *;
@use './colors' as *;
@use './variables' as *;

@mixin content-layout($padding: 0 $px) {
    max-width: rem(1920);
    margin: 0 auto;
    padding: $padding;
}

@mixin button-primary(
    $width: fit-content,
    $gap: lineScale(40, 20, 480, 1440),
    $font-size: lineScale(24, 18, 480, 1440),
    $color: currentColor,
    $border-color: currentColor,
    $padding: rem(18) rem(24),
    $border-radius: rem(64),
    $hover-color: $c-FFFFFF,
    $anim-color: $c-FFFFFF
) {
    cursor: pointer;
    position: relative;
    width: $width;

    display: flex;
    align-items: center;
    gap: $gap;

    font-size: $font-size;
    color: $color;

    border: rem(2) solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
    transition: color $td $tf, border-color $td $tf;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        border-radius: inherit;
        background-color: $anim-color;
        scale: 1.5;
        opacity: 0;
        pointer-events: none;
        transition: all $td $tf;
    }
    > * {
        position: relative;
        z-index: 2;
    }
    > span:has(svg) {
        overflow: hidden;
        rotate: -45deg;
    }
    @media (pointer: fine){
        &:hover{
            color: $hover-color;
            border-color: transparent;
            &::before{
                scale: 1;
                opacity: 1;
            }
            > span:has(svg) {
                svg {
                    animation: arrow-translate $td $tf;
                }
            }
        }
    }
    @include arrow-translate;
}

@mixin gradient-text-hover($main-color: $c-111111, $accent-color: $c-accent) {
    @supports (background-clip: text) {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, $accent-color 50%, $main-color 50%);
        background-size: 250% 200%;
        background-position: -80% -100%;
        transition: background-position $td $tf;
        @media (pointer: fine) {
            &:hover {
                background-position: -160% -200%;
            }
        }
    }
    @supports not (background-clip: text) {
        transition: color $td $tf;
        @media (pointer: fine) {
            &:hover {
                color: $c-accent;
            }
        }
    }
}
@mixin hover-underline($color: currentColor) {
    position: relative;
    width: fit-content;
    line-height: 150%;
    transition: all $td $tf;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: rem(2);
        width: 0;
        background-color: $color;
        transition: $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $color;
            &::after {
                width: 100%;
            }
        }
    }
}

// tech
@mixin checkbox($size: rem(20), $accent-color: $c-accent, $contrast-color: $c-FFFFFF) {
    cursor: pointer;
    position: relative;
    width: $size;
    height: $size;
    aspect-ratio: 1/1;
    border: rem(1) solid $accent-color;
    > input[type='checkbox'] {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        inset: 0;
        width: 100%;
        height: 100%;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: rem(14);
        height: rem(2);
        opacity: 0;
        transition: all calc($td / 2) $tf;
        pointer-events: none;
    }
    @media (pointer: fine) {
        &:hover {
            &::before,
            &::after {
                background-color: $accent-color;
                opacity: 1;
            }
            &::before {
                rotate: 90deg;
            }
        }
    }
    &:has(input:checked) {
        background-color: $accent-color;
        &::before,
        &::after {
            background-color: $contrast-color;
            opacity: 1;
        }
        &::before {
            left: 63%;
            width: rem(9);
            rotate: 135deg;
        }
        &::after {
            left: 30%;
            top: 60%;
            width: rem(8);
            rotate: -135deg;
        }
    }
}
@mixin hide-scrollbar() {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// animations

@mixin arrow-translate {
    @keyframes arrow-translate {
        0% {
            translate: 0 0;
            opacity: 1;
        }
        45% {
            translate: 100% 0;
            opacity: 0;
        }
        55% {
            translate: -100% 0;
            opacity: 0;
        }
        100% {
            translate: 0 0;
            opacity: 1;
        }
    }
}
