/* Inter */
@font-face {
    font-family: 'Inter';
    font-display: swap;
    src:
        url('../fonts/Inter-Variable.woff2') format('woff2'),
        url('../fonts/Inter-Variable.ttf') format('ttf');
    font-weight: 350 900;
    font-style: normal;
}

/* CodeNext */
@font-face {
    font-family: 'Code';
    font-display: swap;
    src:
        url('../fonts/CodeNext-Trial-Regular.woff2') format('woff2'),
        url('../fonts/CodeNext-Trial-Regular.woff') format('woff'),
        url('../fonts/CodeNext-Trial-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Code';
    font-display: swap;
    src:
        url('../fonts/CodeNext-Trial-SemiBold.woff2') format('woff2'),
        url('../fonts/CodeNext-Trial-SemiBold.woff') format('woff'),
        url('../fonts/CodeNext-Trial-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Code';
    font-display: swap;
    src:
        url('../fonts/CodeNext-Trial-Bold.woff2') format('woff2'),
        url('../fonts/CodeNext-Trial-Bold.woff') format('woff'),
        url('../fonts/CodeNext-Trial-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Code';
    font-display: swap;
    src:
        url('../fonts/CodeNext-Trial-Black.woff2') format('woff2'),
        url('../fonts/CodeNext-Trial-Black.woff') format('woff'),
        url('../fonts/CodeNext-Trial-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}