@import './null.css';

@import './fonts.css';

html,
body {
    font-family: 'Code', sans-serif;
    font-size: 16px;
}

.symbol {
    font-family: 'Inter', sans-serif;
}

.ruble::before {
    font-family: 'Inter', sans-serif;
    content: '\20BD';
}
